.site-title img {
     max-height: 120px;
     text-align: center;
     width: auto;

     @include breakpoint(tablet) {
          max-height: 80px;
     }
}

.menu-toggle {
     background-color: #777;
     text-align: center;
     width: 100%;

     button {
          height: 100%;
          padding: 20px;
          width: 100%;
     }
}

.menu-text {
     list-style-type: none;
}

p.site-title {
     margin-bottom: 0;
}



     .site-title {text-align: center;}
     .top-bar {
          @include flex-grid-row($width: 100%);
          padding: 0;
          .top-bar-left,
          .top-bar-right {
               @include flex-grid-column(12);

               ul.menu {
                    padding: 10px 0;
               }
          }
     }

/* Top Bar is Desktop Menu View */
@include breakpoint(tablet) {
     .top-bar {
          @include flex-grid-row($width: 100%);
          @include flex-align($y:middle);

          .top-bar-left {
               @include flex-grid-column(2)
          }
          .top-bar-right {
               @include flex-grid-column(10);
               ul.menu {
                    float: right;
               }
          }

     }
}
