.site-title img {
     max-height: 80px;
     text-align: center;
     width: auto;

     // @include breakpoint(tablet) {
     //      max-height: 80px;
     // }
}

.menu-text {
     list-style-type: none;
}

p.site-title {
     margin-bottom: 0;
}



     .site-title {text-align: center;}
     .top-bar {
          @include flex-grid-row($width: 100%);
          padding: 0;
          .top-bar-left,
          .top-bar-right {

               ul.menu {
                    padding: 10px 0;
               }
          }
     }



/* Top Bar is Desktop Menu View */
@include breakpoint(medium) {
     .top-bar {
          @include flex-grid-row($width: 100%, $gutter: 0);
          @include flex-align($y:middle);
          justify-content: space-between;

          .top-bar-left {
               @include flex-grid-column(2, 0)
          }
          .top-bar-right {
               @include flex-grid-column(9, 0);
               float: right;
               ul.menu {
                    float: right;
               }
          }

     }
}

.title-bar-title {
     float: left;
     margin-left: 5%;
}

.menu-icon {
     margin: 5px 8px;
     width: 26px;
}
.menu-toggle {
     // border: 1px solid;
     // border-radius: 3px;
     float: right;
     font-weight: 700;
     padding: 27px;
     text-transform: uppercase;
}

.top-bar-left .menu-text {
     @include show-for(medium);
}
